﻿.filter2 .innercontent {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none
}

.filter2 .innercontent ul li ul {
    display: none
}

.filter2 .inner_child a, .filter2 .inner_parent a {
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    display: block;
    padding-left: 15px;
    line-height: 44px;
    height: 44px;
    overflow: hidden;
    color: #595959
}

.filter2 .inner_child em, .filter2 .inner_child s, .filter2 .inner_parent em, .filter2 .inner_parent s {
    position: absolute;
    top: 0;
    right: 24px;
    font-size: 12px;
    color: #aaa;
    text-decoration: none
}

.filter2 .inner_child a {
    background-color: #f9f9f9
}

.filter2 .inner_parent {
    background: #fff;
    overflow: hidden;
    height: 360px;
    position: relative
}

.filter2 .inner_child {
    height: 360px;
    overflow: hidden;
    position: absolute;
    width: 50%;
    left: 50%;
    top: 39px;
    background-color: #f9f9f9
}

.filter2 .hasUL {
    position: relative;
    z-index: 1000
}

.filter2 .hasUL:after, .filter2 .hasUL:before {
    content: ' ';
    border-color: transparent transparent transparent #bbb;
    border-width: 6px;
    display: inline-block;
    position: absolute;
    top: 17px;
    right: 2px;
    border-style: solid
}

.filter2 .hasUL:after {
    border-color: transparent transparent transparent #fff;
    right: 4px
}

.filter2 .hasUL_current a {
    background-color: #f9f9f9
}

.filter2 .hasUL_current:after {
    border-color: transparent transparent transparent transparent
}

.filter2 {
    background-color: #fff
}

.filter2 .tab {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    border-bottom: 1px solid #e8e8e8
}

.filter2 .tab li {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding: 9px 0
}

.filter2 .tab li a {
    overflow: hidden;
    display: block;
    text-align: center;
    height: 20px;
    line-height: 20px;
    position: relative;
    border-left: 1px solid #e8e8e8;
    color: #666
}

.filter2 .tab li a s {
    display: none
}

.filter2 .tab li:first-child a {
    border-left: 0 none
}

.filter2 .tab li a em, .filter2 .tab li a em:after {
    vertical-align: -3px;
    margin-left: 5px;
    display: inline-block;
    border-color: #e8e8e8 transparent transparent transparent;
    border-width: 6px;
    border-style: solid;
    transition: transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
    transform-origin: 50% 25% 0;
    -webkit-transform-origin: 50% 25% 0;
    position: relative;
    z-index: 1
}

.filter2 .tab li a em:after {
    content: ' ';
    border-color: #fff transparent transparent transparent;
    position: absolute;
    margin: -8px 0 0 -6px
}

.filter2 .tab .current a em {
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    transition: transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
    transform-origin: 50% 25% 0;
    -webkit-transform-origin: 50% 25% 0
}

.filter-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1002
}

.fullbg .pull2 {
    display: block;
    position: fixed;
    width: 14px;
    height: 15px;
    background: url(../img/phone/img/hicon_sort.png) no-repeat 0 -45px;
    background-size: 14px auto;
    top: 409px;
    left: 50%
}

.fullbg {
    background-color: #000;
    opacity: .8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    position: absolute
}

.blue .filter2 .tab .current a {
    color: #3592e2
}

.blue .filter2 .tab .current a em {
    border-color: #3592e2 transparent transparent transparent
}

.blue .filter2 .cur a, .blue .filter2 .hasUL_current, .blue .filter2 .hasUL_current a, .blue .filter2 .inner_child .current, .blue .filter2 .inner_child .current a, .blue .filter2 .inner_child .selected, .blue .filter2 .inner_parent .current, .blue .filter2 .inner_parent .current a, .blue .filter2 .inner_parent .selected {
    color: #3592e2
}

.green .filter2 .tab .current a {
    color: #42b712
}

.green .filter2 .tab .current a em {
    border-color: #42b712 transparent transparent transparent
}

.green .filter2 .cur a, .green .filter2 .hasUL_current, .green .filter2 .hasUL_current a, .green .filter2 .inner_child .current, .green .filter2 .inner_child .current a, .green .filter2 .inner_child .selected, .green .filter2 .inner_parent .current, .green .filter2 .inner_parent .current a, .green .filter2 .inner_parent .selected {
    color: #42b712
}

.orange .filter2 .tab .current a {
    color: #f60
}

.orange .filter2 .tab .current a em {
    border-color: #f60 transparent transparent transparent
}

.orange .filter2 .cur a, .orange .filter2 .hasUL_current, .orange .filter2 .hasUL_current a, .orange .filter2 .inner_child .current, .orange .filter2 .inner_child .current a, .orange .filter2 .inner_child .selected, .orange .filter2 .inner_parent .current, .orange .filter2 .inner_parent .current a, .orange .filter2 .inner_parent .selected {
    color: #f60
}

.red .filter2 .tab .current a {
    color: #c40000
}

.red .filter2 .tab .current a em {
    border-color: #c40000 transparent transparent transparent
}

.red .filter2 .cur a, .red .filter2 .hasUL_current, .red .filter2 .hasUL_current a, .red .filter2 .inner_child .current, .red .filter2 .inner_child .current a, .red .filter2 .inner_child .selected, .red .filter2 .inner_parent .current, .red .filter2 .inner_parent .current a, .red .filter2 .inner_parent .selected {
    color: #c40000
}