
﻿﻿ * {
    margin: 0;
    padding: 0;
}

body {
    background: #F2F2F2;
    font: 400 14px '微软雅黑', Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0
}

input, textarea {
    -webkit-user-select: text;
    font-size: 14px !important;
}

article, aside, footer, header, hgroup, nav, section {
    display: block
}

fieldset, img {
    border: 0
}

ol, ul {
    list-style: none
}

address, em, i {
    font-style: normal
}

a {
    color: inherit;
    text-decoration: none
}

hr {
    display: none
}

legend {
    display: none
}

.show {
    display: block !important
}

.hide {
    display: none !important
}

.fc {
    text-align: center
}

iframe {
    line-height: 0;
    overflow: hidden
}

#ct {
    width: 100%;
    height: auto;
    overflow: hidden
}

.hover {
    background: #cbcfd1;
    background-color: #cbcfd1;
    color: inherit
}

.hover1 {
    background: rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, .3);
    color: inherit
}

b {
    font-weight: 400;
    color: #50B4D7
}

.fr {
    float: right
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

dd, dl, dt, p {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

.clear {
    clear: both;
    height: 10px;
    visibility: hidden;
    overflow: hidden
}
.clear1 {
    clear: both;
    height: 1px;
    visibility: hidden;
    overflow: hidden
}

.clearfix {
    clear: both;
    height: 0 !important;
    visibility: hidden;
    overflow: hidden;
}