<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kf.mapper.BannerMapper" >

    <select id="selectBannerByMcId" resultType="com.kf.pojo.Banner">
        SELECT * from banner,advert WHERE banner.advert_id=advert.advert_id AND mc_id=#{mcId}
    </select>


</mapper>