<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kf.mapper.CompanyMapper" >


    <insert id="insertCompany" parameterType="com.kf.pojo.Company">
        <selectKey keyProperty="companyId" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into company(cp_name,cp_contactPerson,cp_num,cp_pz_img,cp_user,cp_contact) VALUES (#{cpName},#{cpContactPerson},#{cpNum},#{cpPzImg},#{cpUser},${cpContact})
    </insert>

    <select id="selectCompanyByUser" resultType="com.kf.pojo.Company">
        SELECT * FROM company WHERE cp_user=${userId}
    </select>

    <delete id="deleteCompany">
        DELETE FROM company WHERE cp_user=#{userId}
    </delete>

    <update id="updateCompanyImg">
        UPDATE company SET cp_img=#{imgUrl} WHERE cp_user=#{userId}
    </update>

    <update id="updateCompany" parameterType="com.kf.pojo.Company">
        UPDATE company SET
        <if test="cpAddress!=null">cp_address=#{cpAddress},</if>
        <if test="cpNet!=null">cp_net=#{cpNet},</if>
        <if test="cpDescription!=null">cp_description=#{cpDescription}</if> WHERE cp_user=#{cpUser}
    </update>

</mapper>