<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kf.mapper.MainClassMapper">
    <resultMap id="BaseMainClass" type="com.kf.pojo.MainClass">
        <id column="mc_id" property="mcId"/>
        <result column="mc_img" property="mcImg"/>
        <result column="mc_name" property="mcName"/>
        <result column="mc_click_nums" property="mcClickNums"/>
        <collection property="secondClasses" ofType="com.kf.pojo.SecondClass">
            <id column="sc_id" property="scId"/>
            <result column="sc_name" property="scName"/>
            <result column="sc_mc_id" property="scMcId"/>
        </collection>
    </resultMap>


    <select id="selectAllClass" resultMap="BaseMainClass">
        SELECT *
        FROM mainclass, secondclass
        WHERE mainclass.mc_id = secondclass.sc_mc_id
    </select>

</mapper>