<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kf.mapper.SecondClassMapper" >

    <resultMap id="BaseSecondClass" type="com.kf.pojo.SecondClass">
        <id column="sc_id" property="scId"/>
        <result column="sc_name" property="scName"/>
        <result column="sc_mc_id" property="scMcId"/>
        <result column="sc_click_nums" property="scClickNums"/>

    </resultMap>

    <select id="selectAllSecondClass" resultType="com.kf.pojo.SecondClass">
        SELECT * FROM secondclass,mainclass WHERE sc_mc_id=#{mcId} and sc_mc_id=mc_id
    </select>

</mapper>