<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kf.mapper.SecondClassMapper">


    <select id="selectAllSecondClass" resultType="com.kf.pojo.SecondClass">
        SELECT *
        FROM secondclass, mainclass
        WHERE sc_mc_id = #{mcId} AND sc_mc_id = mc_id
    </select>

</mapper>