<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kf.mapper.TagMapper" >

    <resultMap id="BaseTag" type="com.kf.pojo.Tag">
        <id column="tag_id" property="tagId"/>
        <result property="tagName" column="tag_name"/>
        <collection property="tagContents" ofType="com.kf.pojo.TagContent">
            <id property="tcId" column="tc_id"/>
            <result property="tcName" column="tc_name"/>
        </collection>

    </resultMap>

    <select id="selectAllTag"  resultMap="BaseTag">
        SELECT * FROM tag,tagcontent,tm WHERE tag.tag_id=tagcontent.tag_id and mc_id=#{mcId} and tm.tag_id=tag.tag_id
    </select>

    <select id="selectAllTagId" resultType="java.lang.Integer">
        SELECT tag_id FROM tm WHERE mc_id=#{mcId}
    </select>
   

</mapper>