<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kf.mapper.UserMapper" >

    <insert id="addUser" parameterType="com.kf.pojo.User">
        INSERT INTO USER (user_name,user_password) VALUES (#{userName,jdbcType=VARCHAR},#{userPassword,jdbcType=VARCHAR})
    </insert>


    <select id="selectUser" parameterType="com.kf.pojo.User" resultType="com.kf.pojo.User">
        SELECT * FROM user where user_name=#{userName} and user_password=#{userPassword}
    </select>
</mapper>