.info_box{
    padding:10px 20px;
    width: 64%;
    border:1px #ddd solid;
    margin-top: 30px;
    float: left;
}
.push_base_static{
    font-size: 12px;
    color: #979a9e;
    line-height: 40px;
}
.push_base_static a{
    margin-right:30px;
}
.push_base_static span{
    margin-right:30px;
}
.push_base_title{
    margin-top:20px;
}
.push_base_data{
    margin-top:30px;
}
.push_base_list{
    font-size: 16px;
    width:100%;
    list-style: none;
}
.push_base_list tr{
    height:35px;
}
.tag_name{
    width:30%;
    text-align: right;
}
.tag_content{
    width:70%;
}
.push_base_other{
    border-top:1px dashed #dbdbdb;
}

.jinggao{
    margin-top:20px;
    height: 100px;
    width: 33.33%;
    background: #F7F7F7;
}
.person_box{
    width: 33%;
    margin-left:10px;
    margin-top: 30px;
    padding:30px 20px;
    border:1px #ddd solid;
    float: left;
}

