@charset "utf-8";
/**
* User: huanhuan
* QQ: 651471385
* Email: th.wanghuan@gmail.com
* 微博: huanhuan的天使
* Data 2013-12-25
* web:https://github.com/huanhuan1989
            http://www.cnblogs.com/huanhuan1989/
* Copyright：2005-2013 www.techholder.com Inc. All rights reserved.
*/

/*Initialization style*/

.relative {
    position: relative;
    top: 0;
    left: 0;
}

.pb6 {
    padding-bottom: 6px;
}

/*asid_share*/
.asid_share {
    position: fixed;
    width: 40px;
    bottom: 15%;
    right: 0;
    z-index: 890;
}

* html #asid_share {
    position: absolute;
    top: expression(documentElement.scrollTop + "px");
    margin: 300px 0 0 0;
}

.asid_share .asid_share_box {
    width: 100%;
    margin-bottom: 3px;
    background: #d9d9d9;
    text-align: center;
}

.asid_share .asid_share_box a {
    display: block;
    height: 35px;
    padding-top: 5px;
}

.asid_share .asid_share_box a:hover {
    background: #e12500;
    text-decoration: none;
}

.asid_share .asid_share_box a:hover .asid_title, .asid_share .asid_share_box .asid_title {
    color: #fff;
    font-size: 12px;
    display: block;
    padding-left: 6px;
    line-height: 18px;
    width: 30px;
    margin-top: -2px;
}

.asid_share .red_bag {
    background: #e12500;
    text-decoration: none;
}

.asid_share .asid_sha_layer {
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    right: 47px;
    bottom: -44px;
}

.sweep_img {
    padding: 10px;
}


.asid_share_box .asid_help_list li a {
    line-height: 26px;
    height: 26px;
    padding: 0 0 0 14px;
    text-align: left;
}

.asid_help_list li a:hover {
    color: #fff;
}

.asid_share_triangle {
    width: 12px;
    height: 40px;
    position: absolute;
    right: 45px;
    bottom: -12px;
    z-index: 100;
}

.border_sj, .con_sj {
    display: block;
    width: 18px;
    height: 28px;
    font-size: 18px;
    overflow: hidden;
    font-family: SimSun;
}

.border_sj {
    color: #ccc;
    font-style: normal;
}

.con_sj {
    color: white;
    margin: -14px -2px 0 0;
}

#kkpager{
    clear:both;
    color:#999;
    padding:5px 0px 5px 0px;
    font-size:13px;
}
#kkpager a{
    float: left;
    border: 1px solid #ccc;
    display: inline;
    padding: 3px 10px 3px 10px;
    margin-right: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    background: #fff;
    text-decoration:none;
    color:#999;
}

#kkpager span.disabled{
    float: left;
    display: inline;
    padding: 3px 10px 3px 10px;
    margin-right: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border:1px solid #DFDFDF;
    background-color:#FFF;
    color:#DFDFDF;
}
#kkpager span.curr{
    float: left;
    border: 1px solid #FF6600;
    display: inline;
    padding: 3px 10px 3px 10px;
    margin-right: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #FFEEE5;
    color: #FF6600;
}
#kkpager a:hover{
    border:1px solid #FF6600;
    background-color:#FF6600;
    color:#fff;
}
#kkpager span.normalsize{
}
#kkpager_gopage_wrap{
    position:relative;
    left:0px;
    top:0px;
}
#kkpager_btn_go {
    width:44px;
    height:18px;
    border:0px;
    overflow:hidden;
    line-height:140%;
    padding:0px;
    margin:0px;
    text-align:center;
    cursor:pointer;
    background-color:#FF6600;
    color:#FFF;
    position:absolute;
    left:0px;
    top:-2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display:none;
}
#kkpager_btn_go_input{
    width:36px;
    height:14px;
    color:#999;
    text-align:center;
    margin-left:1px;
    margin-right:1px;
    border:1px solid #DFDFDF;
    position:relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    left:0px;
    top:0px;
    outline:none;
}

#kkpager_btn_go_input.focus{
    border-color:#FF6600;
}

#kkpager .pageBtnWrap{
    float:left;
}
#kkpager .infoTextAndGoPageBtnWrap{
    float:right;
}
#kkpager .spanDot{
    float:left;
    margin-right:5px;
}

#kkpager .currPageNum{
    color:#FD7F4D;
}

#kkpager .infoTextAndGoPageBtnWrap{
    padding-top:5px;
}