.megamenu{margin-bottom:0px;
    padding:0;width:100%; list-style:none;display:inline-block;position:relative;font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:15px}
.megamenu li{margin-bottom:0px;display:inline;}
.megamenu>li>a{
    color: #ff552e;
    float: left;
    padding: 1.0em 2.8em;
    text-decoration: none;
    text-transform: capitalize;
    font-size:1pc;
    font-weight: 800;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.megamenu>li.active>a{color:#fff;background: #ff552e}
.megamenu>li.right{float:right}
.megamenu .dropdown,.megamenu .dropdown li .dropdown{
    list-style:none;margin:0;padding:0;display:none;position:absolute;z-index:999;width:160px;border:solid 1px rgba(0,0,0,0.1);background:#fff}
.megamenu .dropdown{top:59px}
.megamenu .dropdown li .dropdown{left:160px;top:inherit}
.megamenu .dropdown li{clear:both;width:100%;border-bottom:solid 1px rgba(0,0,0,0.1)}
.megamenu .dropdown li:last-child{border-bottom:0}
.megamenu .dropdown li a{float:left;width:100%;padding:10px 25px;text-decoration:none;display:block;border:0 none;font-size:14px;color:#444;background:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;transition:color .4s ease-in-out;-moz-transition:color .4s ease-in-out;-webkit-transition:color .4s ease-in-out;-o-transition:color .4s ease-in-out}
.megamenu .dropdown li:hover>a{background:#dbdbdb}
.megamenu>li>.megapanel{position: absolute;
    display: none;
    border: 1px solid #dbdbdb;
    background: rgba(253, 253, 253, 1);
    width: 100.2%;
    top: 55px;
    left: -1px;
    z-index: 99;
    padding: 20px 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

.skyblue{
    border-bottom: 5px #ff552e solid;
    height: 55px;
}
/* 鼠标一开菜单操作*/
.skyblue>li:hover>a,.skyblue .dropdown li:hover>a{color:#fff; background:#ff552e;}
.skyblue .megapanel img:hover,.skyblue form.contact input[type="text"]:focus,.skyblue form.contact textarea:focus{}
/* start megamenu colors */
.skyblue li a.color1:hover{
    background:#ff552e;
    color: #ffffff;
}

.menu_ul{
    list-style: none;
}
.menu_ul li{
    padding:10px 20px;

    float: left;
}